body {
  max-width: 960px;
  margin: 0 auto;
  background: rgb(216, 110, 23);
}
nav {
  background: rgb(216, 110, 23);
  display: flex;
  justify-content: space-evenly;
}

h1 {
  color: white;
}

ul {
  list-style: none;
}
